@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full-container {
    @apply 2xl:px-20 xl:px-12 md:px-8 sm:px-5 mx-auto w-full max-w-screen-2xl;
  }
  .background-image {
    @apply absolute -z-10 w-full h-full;
  }
}

@layer utilities {
  .absolute-centerY {
    @apply top-1/2 transform -translate-y-1/2;
  }
  .absolute-centerX {
    @apply right-1/2 transform translate-x-1/2;
  }
  .absolute-centerXY {
    @apply transform right-1/2 top-1/2 -translate-y-1/2 translate-x-1/2;
  }
  .auto-centerX {
    @apply my-0 mx-auto;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
